@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@500;600&display=swap');

/*---------------------------------------------Page Styles*/


/*the following method for positioning my background image was taken from https://www.w3schools.com/html/html_images_background.asp*/

html {
	overflow-x: hidden;
}

body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
}

.page-1 {
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.center {
	margin: 0 auto;
}

.inherit-height {
	height: inherit;
}

.btn-primary {
	background-color: #F09000;
	border-color: #F09000;
	border-radius: 0.6rem;
}

.btn-primary:hover {
	background-color: #b76200;
	border-color: #b76200;
}

.btn-primary:focus {
	background-color: #b76200;
	border-color: #b76200;
}

.modal-body {
	max-height: 75vh;
	overflow: scroll;
}


/*---------------------------------------------Header*/

header {
	padding: 10px 10px 15px 10px;
	background-color: rgba(243, 241, 239, 0.5);
	border-bottom: 2px solid black;
}

.title {
	font-family: 'Oswald', sans-serif;
	float: top;
	display: inline;
}

.how-to {
	float: right;
	display: inline;
	border: #20529B 3px solid;
	font-family: 'Oswald', sans-serif;
}

.modal-title {
	font-family: 'Oswald', sans-serif;
}

.modal-body {
	font-family: 'Lato', sans-serif;
}


/*---------------------------------------------1st page (Stuff Getter)*/

.get-stuff-container {
	text-align: center;
}

.get-stuff {
	margin-top: 100px;
	padding: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 2.3rem;
	/* The folloing transition property and the "hover" and "active" rules below that come from the clicker tutorial: https://www.youtube.com/watch?v=-EDJjOt2RlE&t=3s&ab_channel=TanktotGames*/
	transition: all .2s ease-in-out;
	border: #20529B 5px solid;
}

.get-stuff:hover {
	transform: scale(1.10);
}

.get-stuff:active {
	transform: scale(0.99);
}

.sps {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	text-align: center;
}

.total-stuff-div {
	margin-top: 100px;
	width: 70%;
}

.total-stuff-text {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	width: 50%;
	display: inline-block;
}

#total-stuff-amount {
	text-align: right;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	float: right;
	padding-right: 20px;
	width: 50%;
	border: 2px solid;
	border-radius: 0.6rem;
	margin-top: auto;
	background-color: rgba(243, 241, 239, 0.5);
}


/*---------------------------------------------1st page (Spend Stuff)*/

.attract-message-container {
	text-align: center;
	margin-bottom: 0;
}

.attract-message {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
}

.your-stuff-title {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 10px;
	color: black;
}

.shop-title {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 10px;
	color: whitesmoke;
}

.shop-item-container {
	height: 80%;
	/*This centering method was found here: https://css-tricks.com/centering-css-complete-guide/*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-text {
	display: block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	border: 2px solid black;
	border-radius: 0.6rem;
	background-color: rgba(243, 241, 239, 0.5);
	margin: 30px 10px 0 0;
	padding: 10px;
}

.buy {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	margin-top: 10px;
	text-align: center;
	display: block;
	background-color: #F09000;
	border-color: #F09000;
}

.buy-inactive {
	background-color: grey;
	border-color: grey;
}

.save {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	margin-top: 10px;
	text-align: center;
	display: block;
	background-color: #F09000;
	border-color: #F09000;
	width: min-content;
}

#scroll {
	background: none;
	border: none;
	color: #F09000;
}


/*---------------------------------------------Page 2 (form)*/

.contact-heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
}

.form {
	margin-top: 7%;
	padding-bottom: 40px;
}

.form-element {
	margin-top: 20px;
}


/*---------------------------------------------Page 2 (footer)*/

.page-2 {
	position: relative;
}

.footer {
	border-top: 2px solid;
	padding-top: 25px;
	background-color: rgba(243, 241, 239, 0.5);
}

.copyright {
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Lato', sans-serif;
}

.socialmedia {
	text-align: center;
	font-size: 2.5rem;
	color: black;
}

.socialmedia a {
	color: #F09000;
}

a:hover {
	color: #b76200;
}

a:focus {
	color: #b76200;
}


/*---------------------------------------------Media Queries*/

@media(max-width: 1200px) {
	.total-stuff-div {
		width: 80%;
		margin-top: 40px;
	}
	#total-stuff-amount {
		font-size: 1.5rem;
	}
	.total-stuff-text {
		font-size: 1.5rem;
	}
	.get-stuff {
		width: 30%;
		margin-top: 7px;
		padding: 10px;
	}
	.on-screens {
		height: 40%;
	}
	.on-screens-1 {
		height: 60%;
	}
	.shop-title h2 {
		margin-top: 5px;
		font-size: 2rem;
		color: black;
	}
	.buy-text {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.shop-item p {
		font-size: 1.2rem;
	}
}

@media(max-width: 576px) {
	/*------------------------------------------General*/
	.on-screens {
		height: 30%;
	}
	.on-screens-1 {
		height: 70%;
	}
	header {
		padding-top: 2px;
	}
	/*------------------------------------------Get stuff section*/
	.get-stuff {
		width: 40%;
		margin-top: 10px;
		font-size: 1.5rem;
		margin-bottom: 0;
		padding: 5px;
	}
	.sps {
		font-size: 1rem;
		margin: 0;
	}
	.save {
		font-size: 1.2rem;
	}
	#total-stuff-amount {
		font-size: 1rem;
	}
	.total-stuff-text {
		font-size: 1rem;
	}
	/*------------------------------------------Spend stuff section*/
	.shop-title h2 {
		margin-top: 0;
		font-size: 1.5rem;
		color: black;
	}
	.total-stuff-div {
		margin-top: 5px;
	}
	.shop-item p {
		font-size: 0.9rem;
	}
	.buy-text {
		padding: 5px;
		width: 90%;
		margin-top: 5px;
	}
	.buy {
		font-size: 1rem;
		margin-top: 1px;
	}
	.v-buy-container {
		position: relative;
	}
	.v-buy {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 0;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.attract-message {
		font-size: 0.8rem;
	}
	/*------------------------------------------Footer*/
	.socialmedia {
		font-size: 1.5rem;
	}
	.copyright {
		font-size: 1rem;
	}
}

@media(max-width: 350px) {
	.title {
		font-size: 0.8rem;
    }
    .how-to {
        font-size: 0.8rem;
    }
	.buy {
		font-size: 0.9rem;
	}
	.save {
		font-size: 0.8rem;
	}
	.your-stuff-title {
		font-size: 0.9rem;
		margin-top: 0;
	}
	.get-stuff {
		font-size: 1rem;
	}
	.shop-title h2 {
		font-size: 0.9rem;
	}
	.shop-item p {
		font-size: 0.8rem;
	}
	.form-element {
		margin-top: 10px;
	}
}